@import "tailwindcss";

@theme {
    --color-primary: #f6f8fd;
    --color-red-button: #dc3545;
    --color-text-color: #231942;
    --color-bg-color: #f6f8fd;
    --color-star-color: #FFD700;
    --color-star-blue: #5A7FF5;

}

body {
    background-color: var(--color-bg-color);
}
header {
    background: #c6ffdd; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #f7797d, #fbd786, #c6ffdd); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #f7797d, #fbd786, #c6ffdd); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}